<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MAPP copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>doc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>mapp4py.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>mapp4py3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>271B052520F64C31007F96C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>273629301E31C7B4006C9299</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>273A44781E81C63B0077F723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>273A447C1E81C9C70077F723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27D4F4971E81CCD4003FF932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27D4F49B1E81CF22003FF932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
